/* TODO: Figure out how to not be stupid with CSS */

.canvas {
    grid-column: 2;
}

.canvas-controls {
    grid-column: 1;
    padding: 6px;
}

.grid-arrangement {
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.card-margin {
    margin: 6px;
}
