/* TODO: Figure out how to not be stupid with CSS */

.canvas {
    grid-row: span 2;
}

.canvas-controls {
    grid-column: 1;
    grid-row: 1;
}

.grid-arrangement {
    display: grid;
    grid-template-columns: auto auto;
    grid-auto-rows: 1fr;
}

.image-display {
    grid-column: 1;
    grid-row: 2;
}

.card-margin {
    margin: 6px;
}